## Exercise No.2

**1-. Write a program to check whether a person is eligibl (age over 18 year)e for voting or not. (accept age from user**)

**2-Use range() to print all the even numbers from 0 to 10.**

**4-Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [10]:
st = 'Print only the words that start with s in this sentence'

**5-Write a Python program that accepts a word from the user and reverses it**.

example:
input : Input a word to reverse:  hello world
output: dlrow olleh

**6-Write a Python program to count the number of even and odd numbers in a series of numbers** ers : 4


Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, ) 

Expected Output :

Number of even numbers : 5
Number of odd numbers : 4

**7-Write a Python program that iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers that are multiples of three and five, print "FizzBuzz".**

Sample Output :

fizzbuzz
1
2
fizz
4
buzz

**8. Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :**

             Unit                                                     Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

**9-Handle the exception thrown by the code below by using try and except blocks.**

In [43]:
for i in ['a','b','c']:
    print(i**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

**10-create your module "MyTemp" which contain two function :**

1.fahrenheit_to_celsius : its equation (Temperature in degrees Fahrenheit (째F) = (Temperature in degrees Celsius (째C) * 9/5) + 32)

2.celsius_to_fahrenheit: its equation (Temperature in degrees Celsius (째C) = (Temperature in degrees Fahrenheit (째F) - 32) * 5/9)